<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@2.6.7/dist/vue.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="practice_style.css" type="text/css">
</head>

<body>
    <div id="app">

        <!-- TODO change header text to include name of activity -->
        <h1 class="text-center">{{ activity }}! Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Hours</h2>
            <div class="card-body">

                <form>

                    <!-- TODO show error alert with list of errors,
                         if there are errors in the form -->
                    <div class="alert alert-danger" v-show="errors && errors.length > 0">
                        <li v-for="error in errors">{{ error }}</li>
                    </div>
                    
                    <div class="form-group">
                        <!-- TODO change label message to include name of activity -->
                        <label class="form-label" for="when">When did you {{ activity | lowercase }}?</label>
                        <!-- TODO v-model to app data property -->
                        <input id="when" class="form-control" type="date" v-model.lazy="when">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="howLong">How long did you practice for, in hours?</label>
                        <!-- TODO v-model to app data property -->
                        <input id="howLong" class="form-control" v-model.number.lazy="howLong">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="type">What type?</label>
                        <!-- TODO create a select. v-model type -->
                        <!-- TODO create one option for each type  -->
                        <select class="form-control" v-model="type">
                            <option v-for="type in types" v-bind:value="type">{{ type }}</option>
                        </select>
                    </div>

                    <div class="form-check-inline">
                        <!-- TODO v-model, v-bind value -->
                        <input id="v2" class="form-check-input" type="radio" v-bind:value="traditional" v-model="digitalTraditional">
                        <label class="form-check-label" for="v2">{{ traditional }}</label>
                    </div>

                    <div class="form-check-inline">
                        <!-- TODO v-model, v-bind value -->
                        <input id="v1" class="form-check-input" type="radio" v-bind:value="digital" v-model="digitalTraditional">
                        <label class="form-check-label" for="v1">{{ digital }}</label>
                    </div>

                    <!-- Added additional form element - checkbox -->
                    <div class="form-check">
                        <input id="completeStatus" class="form-check-input" type="checkbox" v-model="projectStatus">
                        <label class="form-check-label" for="completeStatus">Art Project Complete</label>
                    </div>

                    <!-- Added additional form element - long text box -->
                    <div class="form-group">
                        <label class="form-label" for="notes">Notes (Optional):</label>
                        <input id="notes" class="form-control" type="text" v-model='recordComments'>
                    </div>

                    <div>
                        <!-- TODO v-on click event -->
                        <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                    </div>

                </form>
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Record</h2>

            <div class="card-body">
                <!-- TODO display the number of records  -->
                <h3> {{ activityRecordsCount }} record(s)?</h3>

                <div id="records">
                    <table class="table">
                        <tr>
                            <th>When</th>
                            <th>How long?</th>
                            <th>Type</th>
                            <th>Method</th>
                            <th>Notes</th>
                            <th>Complete?</th>
                        </tr>
                        <!-- TODO display one table row for each activityRecord  -->
                        <tr v-for="record in activityRecords">
                            <td>{{ record.when | shortDateFormat }}</td>  <!-- Added short date filter -->
                            <td>{{ record.howLong | decimalPlaces(2) }}</td>  <!-- Added decimal place filter -->
                            <td>{{ record.type }}</td>
                            <td>{{ record.digitalTraditional }}</td>
                            <td>{{ record.recordComments | noteLengthLimit(40)}}</td>  <!-- Added comment lentgh filter for table. Full comment is captured in object -->
                            <td>{{ record.projectStatus }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">
                <!-- TODO use computed property to display total hours -->
                <p>You have practiced art a total of {{ totalHours | decimalPlaces(2) }} hours, broken down as follows:</p>  <!-- Added decimal place filter -->
                
                <!-- TODO computed property to display total for each type  -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" v-for="hours, type in totalHoursByType" v-bind:class="'art-'+type">{{ type }}: {{ hours | decimalPlaces(2) }}</li>  <!-- Added decimal place filter -->
                </ul>
                
            </div>
        </div>

    </div>

    <script>

      // TODO create vue app here 
      let app = new Vue({
          el: "#app",
          // data elements found in hmtl to handles with vue
          data: {
              activity: 'Practice Art',
              when: '',
              howLong: 1,
              type: 'sketching',
              digitalTraditional: 'traditional',
              activityRecords: [],
              types: ['sketching','painting','drawing'],
              digital: 'digital',
              traditional: 'traditional',
              projectStatus: false,
              recordComments: '',
              errors: [],
          },
          computed: {
              whenLocal() {  // ensures timestamp collected reflects devices local time settings
                let date = new Date(this.when)
                let timestamp = date.getTime() + (date.getTimezoneOffset() * 60 * 1000)
                let localDate = new Date(timestamp)
                return localDate
              },
              activityRecordsCount() {  // counts the number of records found in activityRecords array
                  return this.activityRecords.length
              },
              totalHours() {  // keeps accumulation of and adds each records time as it is entered
                  let total = 0
                  if (this.activityRecords.length > 0) {
                      total = this.activityRecords.reduce(function (hoursAccumulator, currentRecord) {
                          return hoursAccumulator + currentRecord.howLong
                      }, 0)
                  }
                  return total
              },
              totalHoursByType() {  // splits and displays accumulated hours by activity type
                  let hoursByType = {}
                  this.types.forEach(type => {
                      let totalForType = this.activityRecords
                        .filter(function (record) { return record.type === type })
                        .reduce(function (accumulator, current) { return accumulator + current.howLong }, 0)
                    hoursByType[type] = totalForType
                  }) 
                  return hoursByType
              }
          },
          methods: {
              submit() {  // validation and submission process
                  this.errors = []  // array to collect errors, if present

                  // validates date entered is current day or in the past, pushes error to error array if false
                  if (this.whenLocal == 'Invalid Date' || this.whenLocal.getTime() > new Date().getTime()) {
                      this.errors.push('Please select a valid date, today or in the past.')
                  }

                  // validates hours entered is a number and greater than 0, pushes error to error array if false
                  if (typeof (this.howLong) != "number" || this.howLong <= 0) {
                      this.errors.push('The number of hours must be a number greater than zero.')
                  } 

                  if (this.errors.length == 0) {  // if not errors present, create object
                    let record = {
                        when: this.whenLocal,
                        howLong: this.howLong,
                        type: this.type,
                        digitalTraditional: this.digitalTraditional,
                        recordComments: this.recordComments,
                        projectStatus: this.projectStatus,
                    }
                    this.activityRecords.push(record)  // push object to activityRecords and sort by time, newest to oldest
                    this.activityRecords.sort(function (r1, r2) {
                        return r2.when.getTime() - r1.when.getTime()
                    })
                }
            }
          },
          filters: {
              lowercase(text) {  // used to display all text in lowercase
                  return text.toLowerCase()
              },
              shortDateFormat(date) {  // used to disply short date format
                  return new Intl.DateTimeFormat().format(date)
              },
              noteLengthLimit: function(value, limit) {  // used to limit characters in display table
                  if (value.length > limit) {
                      value = value.substring(0, limit)  // this method allows you to apply a length limit filter to multiple data elements while allowing length to vary by element. 
                  }  // limit is determined in mustache syntatx
                  return value
              },
              decimalPlaces: function(hours, decimalPlaces) {  // used to keep decimals to desired display
                  return hours.toFixed(decimalPlaces)  // this method allows you to apply desired number of decimals to each individual instances where a decimal is used. 
              }
          },
      })

    </script>

</body>

</html>