#records {
    max-height: 250px;
    overflow: scroll;
}

.art-sketching {
    background: rgb(0, 70, 70);
    color: aqua;
}

.art-painting {
    background: rgb(70, 0, 70);
    color: fuchsia;
}

.art-drawing {
    background: rgb(70, 70, 50);
    color: yellowgreen;
}